[package]
name = "core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lex = {path = "../lex"}
ast = {path = "../ast"}
parse = {path = "../parse"}
codegen = {path = "../codegen"}
